.strong {
	font-weight: bold;
}

.page-footer {
	margin-top: 32px;
}

.form-control-minimal {
	border: none;
	background-color: transparent;
}

.input-group-addon:not(:first-child):not(:last-child) {
    border-left: 0px none;
    border-right: 0px none;
}

.input-group-addon.mathml {
	padding-top: 5px;
	padding-bottom: 5px;
}

.help-block.warning {
	margin-top: 1em;
	font-size: 0.8em;
	color: #f00;
}

.panel-heading-pill {
	display: inline-block;
	margin-right: 20px;
}

.alert h1,
.alert h2,
.alert h3 {
	margin-top: 10px;
}

.availableParts {
	overflow: auto;
	height: 77rem;
}
.availableParts.well {
	padding-top: 0;
	padding-bottom: 0;
	background-image: none;
	background-color: #f5f5f5;
}

.partList ol,
.partList ul {
	padding: 0;
}

.partList .partList {
	padding-left: 24px;
}

.packName {
	font-weight: bold;
}

.searchProgress {
	position: relative;
	margin-top: 32px;
}

.searchProgress .actions {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 85px;
	padding: 0 16px;
}

.searchResults .panel {
	margin-bottom: 8px;
}

.searchResults th.cost,
.searchResults th.mass,
.searchResults th.deltaV,
.searchResults th.twr,
.searchResults th.time,
.searchResults td.cost,
.searchResults td.mass,
.searchResults td.deltaV,
.searchResults td.twr,
.searchResults td.time {
	text-align: center;
}

.searchResults .stageNumber {
	font-size: 1.4em; 
}

.searchResults td.stageMultiplier {
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: middle;
}

.searchResults li {
	list-style: none;
}

.searchResults .decouplers { color: gray; }
.searchResults .payload { color: black; }
.searchResults .others { color: orange; }
.searchResults .lfoTanks { color: darkblue; }
.searchResults .branches { color: gray; }
.searchResults .lfoEngines { color: crimson; }
.searchResults .boosters { color: darkviolet; }
.searchResults .multiplier { font-weight: bold; }

.donate {
	margin-top: 1em;
}

.donate-line {
	margin: 0;
}

.help {
	float: right;
}

.ellipsis {
	letter-spacing: -1px;
}